/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Articles*/
#art01 {
    background-image: url(../imgs/ocean-backgroud.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: auto;
    display: block;
}

#name {
    font-family: "roboto";
    text-align: center;
    vertical-align: center;
    padding-top: 40vh;
    font-size: 7vh;
    background: linear-gradient(to right, #00d0ff, #1b90bb, #008cff, #0054ff, #00d0ff, #00b9ff);
    background-size: 400%;
    animation: text-gradient 8s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes text-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#art02 {
    background-color: #19C8D6;
}